<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="Plesk. Wordpress redirect wpConfigRule #06340a46-1108-4e32-b8dc-66227494e020" stopProcessing="true">
                    <match url="^wp-config.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Plesk. Wordpress redirect wpContentRule #67a7c944-2788-4058-979a-e55c712e5ca8" stopProcessing="true">
                    <match url="^wp-content/.+\.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Plesk. Wordpress redirect wpIncludesRule #97f9d2f0-58d3-4a69-8d7a-989e371efae9" stopProcessing="true">
                    <match url="^wp-includes/.+\.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
